<button (click)="downloadPDF()">generar pdf </button>

<div class="openpay-reference-pdf" id="openpay-reference-pdf">
    <div class="header">
        <span>Servicio a pagar:</span>
        <img src="../assets/assets openpay/paynet-header.jpg" alt="">
    </div>
    <div class="barcode">
        <img src="../assets/assets openpay/barcode.png" alt="">
        <br>
        <span>1010104112567985</span>
    </div>
    <span class="labels-mini">En caso de que el escáner no sea capaz de leer el código de barras, escribir la referencia tal como se muestra</span>
    <div class="info-payment">
        <div>
            <span>Total a pagar:</span>
            <span>50.00 MXN</span>
        </div>
        <span class="labels-mini">La comisión por recepción del pago varía de acuerdo a los términos y condiciones que cada cadena comercial establece.</span>
    </div>
    <div class="details-payment">
        <span>Detalles de la compra</span>
        <div>
            <span class="key">Descripcion:</span>
            <span class="value">Donacion</span>
        </div>

        <div>
            <span class="key"> Fecha y hora: </span>
            <span class="value"> 25/02/2022, 17:05:22 </span>
        </div>

        <div>
            <span class="key"> Correo del cliente:  </span>
            <span class="value"> javier.lopez@rbc-eng.com </span>
        </div>
    </div>
    <div class="help">
        <div class="container-help">
            <span class="title-help-container">Como realizar el pago</span>
            <ol>
                <li>Acude a cualquier tienda afiliada</li>
                <li>Entrega al cajero el código de barras y menciona que realizarós un pago de servicio Paynet</li>
                <li>Realizar el pago en efectivo por 50.00 MXN</li>
                <li>Verifica que la referencia en tu comprobante de pago coincida con la de este documento antes de salir del establecimiento.</li>
                <li>Conserva el ticket para cualquier aclaraciï¿½n</li>
            </ol>
            <span class="labels-mini-help">Si tienes dudas comunícate a IOVOI al teléfono (664) 212- 7347 o al correo jricardolch@hotmail.com</span>
        </div>
        <div class="container-help">
            <span class="title-help-container">Instrucciones para el cajero</span>
            <ol>
                <li>Ingresar al menú de Pago de Servicios</li>
                <li>Seleccionar Paynet</li>
                <li>Escanear el código de barras o ingresar el núm. de referencia</li>
                <li>Ingresa la cantidad total a pagar</li>
                <li>Cobrar al cliente el monto total más la comisión</li>
                <li>Confirmar la transacción y entregar el ticket al cliente</li>
            </ol>
            <span class="labels-mini-help">Para cualquier duda sobre como cobrar, por favor llamar al teléfono (55) 5022 0404 en un horario de 8:00 a 20:00 hrs. de lunes a viernes</span>
        </div>
    </div>
    <div class="footer">
        <img src="../assets/assets openpay/paynet-footer.jpg" alt="">
        <div>
            <div class="message-op">
                <span>¿Quieres pagar en otras tiendas? visítanos en: www.openpay.mx/pagos- en-efectivo/</span>
            </div>
            <img src="../assets/assets openpay/op.png" alt="">
        </div>
    </div>
</div>